.App {
  height: 100%;
  /* background: lightcyan; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  border: solid black 2px;
}

.bloc{
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: solid rgb(205, 17, 17) 2px;
}